@import "media.scss";

* {
  box-sizing: border-box;
}

body {
  font-family: Open Sans, sans-serif;
  background-color: #e7efec;
}

#root {
  display: flex;
  height: 100vh;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.fa-search {
  position: absolute;
  height: 80px;
  width: 70px;
  color: grey;
  font-size: 40px;
  line-height: 80px;
  padding-left: 20px;
  padding-right: 20px;
}


.search-flights {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  font-family: Open Sans, sans-serif;
  position: relative;
  font-size: 1.2rem;
  font-weight: 400;
  

  &__title {
    height: 10%;
    font-size: 6rem;
    line-height: 10%;
    font-weight: 200;
    margin-left: 0px;
    padding: 0;
    border: 0;
    vertical-align: baseline;
    color: #000;
    text-align: center;
    background-color: transparent;
  }
  &__form {
    width: 60%;
    border: 0;
    font-size: 100%;
    font: inherit;
    display: inline-flex;
    position: relative;
    margin: auto;
    
    
  }
  &__input {
    height: 5rem;
    font-size: 24px;
    border: none;
    padding-left: 70px;
    padding-right: 220px;
    display: block;
    border: none;
    width: 100%;
    outline: none;
    
  }
  &__btn {
    height: 5rem;
    width: 30%;
    font-size: 26px;
    background: #1eb7ee;
    color: #fff;
    cursor: pointer;
    border-radius: 0 80px 0 0;
    text-align: left;
    border: none;
    outline: none;
    transition: .3s ease-in;
  }
  &__btn:hover { 
    border-radius: 0 30px 0 0;
    
  }
  
}
.container {
  display: inline-flex;
}
.nav-container {
  margin-top: 50px;
  margin: 50px auto 0 auto;
  background:#73d2f0;
  width: 90%;
  border-radius: 60px 60px 0 0;
  
}
.nav-item {

    display: inline-flex;
    justify-content: center;
    text-decoration: none;
    flex: 1 1 auto;
    text-transform: uppercase;
    padding: 0;
    border: 0;
    position: relative;
    font-weight: 2.5rem;
    border-radius: 60px 60px 0 0;
    outline: none;
    background:#73d2f0;
    color: #fff;
    overflow: hidden;
    outline: none;
    padding: 0;
    border: 0;
    font-size: 1.5rem;
    line-height: 5rem;
    width: 50%;
    height: 5rem;
    cursor: pointer;
    
    &__selected {
      background: #fff;
      color:#73d2f0;
      
    }
}
.company-name {
  line-height: 5rem;
}
.nav-tabs {
  padding: 0px;
}
.plane {
  margin-right: 10px;
  
}
.table {
  width: 100%;
  border-collapse: collapse;
  background: #fff;
} 
.information-container_tr {
  line-height: 5rem;
}
.information-container_body {
  line-height: 5rem;
  text-align: center;
  &:hover {
    box-shadow: 0 5px 10px rgba(37, 40, 41, 0.3);
  }
  &:nth-child(odd) {
    background-color: rgba(0,102,135,.1)
  }
}
.logo {
  display: flex;
    justify-content: center;
    align-items: center;
}
.empty-result {
  display: flex;
  text-align: center;
  justify-content: center;
  line-height: 20rem;
  background-color: white;
  font-size: 2rem;
}
.company-name__logo {
  height: 2.5rem;
  margin-right: 0.5rem;
}
.flights {
  width: 90%;
  margin: auto;
}

.term {
  font-size: 26px;
  line-height: 21px;
  padding: 20px;
  display: inline-flex;
  font-weight: 700;
  border-radius: 50%;
  width: 60px;
  &__A {
    color: green;
    border: 1px solid green;
  }
  &__D {
    color: hsl(194, 79%, 64%);
    border: 1px solid hsl(194, 79%, 64%);
  }
  &__C {
    color: hsl(44, 81%, 61%);
    border: 1px solid hsl(44, 81%, 61%);;
  }
}

@keyframes rotate {
  from {
      transform: rotate(0);
  }
  to {
      transform: rotate(360deg);
  }
}
.spinner {
  display: block;
  margin: 5rem auto 5rem auto;
  width: 5rem;
  height: 5rem;
  border-radius: 50%;
  border: 4px solid white;
  border-bottom-color: transparent;
  animation: rotate 1s linear infinite;
}