@media screen and (min-width: 600px) {
    
    .search_flights {
         flex-direction: row;
         flex-wrap: wrap;
         width: 100%;
         
         &__navigation, 
         &__products {
            min-width: 50%;
         }
    }   
     
}

@media screen and (min-width: 900px) {
    
    .main {
        flex-direction: row;
        flex-wrap: nowrap;
       
        &__navigation, 
        &__products,
        &__news {
            min-width: 0;
        }
    }
}